
/* BASIC STYLES */
body {
    font-family: $font-body, sans-serif;
    font-size:1em;
    line-height:2em;
    background:url($img-body-bg) $highlight-color repeat-x;
    margin: 0;
}

main {
    width:940px;
    margin:0 auto;
    padding:0 10px;
    @include break(959px) {
        width: 768px;
      }
    @include break(767px) {
        width: 460px;
      }
    @include break(459px) {
        width: 300px;
      }
}

figure {
    width:400px;
    height:190px;
    background:url($img-main-logo) no-repeat 0 50px;
    float:left;
    display:block;
    margin:0;

    @include break(959px) {
        width:inherit;
        height:140px;
        float:none;
        background-position:center;
      }
 
    @include break(459px) {
        background-size:contain;
        height:100px;
      }
    
}

select {
    @include break(459px) {
        width:95%;
      }
}

/* HEADER */
header {
    width:inherit;
    clear:both;
    text-align:center;
    padding-top:40px;
    img {
        max-width:100%;
        height:auto; 
     
        @include break(767px) {
            margin-bottom:100px;
          }
        @include break(459px) {
            margin-bottom:80px;
          }
    }
    h1 {
        color: $medium-color;
        font-weight:100;
        font-size:4em;
        line-height:0;
        @include break(959px) {
            font-size:3em;
        }
        @include break(767px) {
            font-size:2em;
        }
        @include break(459px) {
            &:first-child {
            font-size: 1.4em;
            margin-bottom: 20px;
        }
    }
    
    h2 {
        color: $highlight-color;
        font-weight:900;
        font-size:2.5em;
        line-height:0;
        margin-bottom:70px;

        @include break(959px) {
            font-size:1.5em;
          }
        @include break(767px) {
            font-size:1em;
          }
        @include break(459px) {
            font-size:1.4em;
          }
    }
    h3 {
        color:$dark-color;
        font-weight:400;
        font-size:2em;
        line-height:0;
        margin-bottom:50px;

       
        @include break(767px) {
            font-size:1.5em;
          }
        @include break(459px) {
            color: $highlight-color; font-size:1em;
          }

        }
    }
}






/* CONTENT */
#headline {
    width:100%;
    height:130px;
    background:$bright-color;
    text-align:center;
    margin:0 auto;
    h1 {
        color:$highlight-color;
        font-size:2.5em;
        font-weight:100;
        padding-top:50px;

        @include break(767px) {
            font-size:2em;padding-top:50px;
          }
        @include break(459px) {
            font-size:1.5em;padding-top:30px;
          }
    }
}

#content {
    width:940px;
    margin:20px auto;
    @include break(959px) {
        width: inherit;
      }
    h3 {
        color:$dark-color;
        font-size:2em;
        font-weight:400;
        @include break(459px) {
            font-size:1.6em;
          }
    }
    #products  {
        width:460px;
        float:left;
        img {
            float:left;
            margin-right:20px;
        }
        article {
            margin-bottom: 40px;
            img {
                @include break(459px) {
                    display:none;
              }
            }
        }
        h4 {
            line-height:1em;
        }
        @include break(959px) {
            width:46%;
            margin:0 2%;
          }
        @include break(767px) {
            width:96%;
            margin:0 2%;
            float:none;
          }
    }
    #testimonials  {
        width:460px;
        float:right;
        @include break(959px) {
            width:46%;margin:0 2%;
          }
        @include break(767px) {
            width:96%;margin:0 2%;float:none;
          }
    }   
}
