@import url('https://fonts.googleapis.com/css?family=Roboto:400,900,100&display=swap');

$darker-color: #30353D;
$dark-color:#666;
$medium-color: #E65C43;
$bright-color: #F25C43;
$highlight-color: #FFF;
$greybar-color: #F5F6F6;
$font-body: 'Roboto';

$base-url: '../images';
$img-body-bg: '#{$base-url}/bg.gif';
$img-main-logo: '#{$base-url}/logo.png';
$img-social-media: '#{$base-url}/social-media.png';