  
  body {
    background: linear-gradient(to right, #C7BBC9, #9f95a0);
    font-family: 'Roboto', sans-serif;
    font-size:1em;
    line-height: 2em;
    width: 960px;
    margin-left: 20px;
    margin-top: 20px;
  }

  ul {
      list-style: none;
  }

  li {
      margin-top: 20px;
      margin-left: -40px;
  }

  #main {
    text-align: center;
    background-color: transparent;
    
  }



 #display-area {
    align-content: left;
    text-align: left;

  }

